* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #0e1626;
  height: 100vh;
}
.electronic-name {
  color: white;
  text-shadow: 1px 1px white;
  line-height: 40px;
}

.login-form {
  background: white;
  height: 450px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 6px -22px 41px -22px rgba(252, 251, 251, 0.45),
    25px 0px 20px -20px rgba(248, 247, 247, 0.45),
    0px 25px 20px -20px rgba(247, 245, 245, 0.45),
    -25px 0px 20px -20px rgba(250, 248, 248, 0.45);
}

.email {
  border: 1px solid rgb(233, 228, 228);
  width: 300px;
  height: 30px;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.password {
  border: 1px solid rgb(233, 228, 228);
  height: 30px;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}
.login-btn {
  border: none;
  width: 300px;
  background: #0e1626;
  padding: 10px;
  height: 30px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}

.fab-icon {
  display: flex;

  justify-content: center;

  background: #0e1626;
  color: white;
  border-radius: 10px;
  width: 180px;
  height: 30px;
  margin: 20px;
  margin-left: 90px;
  line-height: 30px;
}

.icon {
  font-size: 15px;
}
.icon-name {
  font-size: 12px;
  margin-left: 5px;
}
fieldset {
  margin-top: 10px;
  border: none;
  border-top: 1px solid #000;
}

.create-link {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.create-link a {
  text-decoration: none;
  margin-left: 2px;
}
